<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">      
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <div th:if="${successMessage}" class="message success" th:text="${successMessage}"></div>
        <div th:if="${errorMessage}" class="message error" th:text="${errorMessage}"></div>
        <form th:action="@{/login}" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required autofocus/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required/>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <p>Don't have an account? <a th:href="@{/register}">Register here</a></p>
    </div>
</body>
</html>